.new-episodes-slider-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.swiper-new-episodes {
    user-select: none;
    overflow: hidden;
    width: 50% !important;
    height: 30rem !important;
}

.swiper-slide-new-episodes {
    height: 15rem !important;
    width: 100% !important;
    overflow: visible !important;
}

.swiper-slide-new-episodes-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -10rem;
  
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.swiper-slide-new-episodes-title {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
}
  
.swiper-slide-new-episodes-image {
    position: absolute;
    object-fit: fill;
  
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 8px;
    z-index: 4;
    cursor: pointer;
}

.swiper-slide-new-episodes-image:hover {
    border: 2px solid #FFF;
}

.new-episodes-btn-prev,
.new-episodes-btn-next {
    top: 25%;
}

.new-episodes-btn-prev::after,
.new-episodes-btn-next::after {
    font-weight: normal;
    font-size: 3rem;
}