.blaze-slider {
    --slides-to-show: 1;
    --slide-gap: 20px;
    direction: ltr;
    position: relative;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.blaze-next,
.blaze-prev {
    display: flex;
    align-items: center;
    position: absolute;
    height: 95%;
    top: 0;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 5rem;
    color: #50627C;
}

.blaze-prev {
    left: -2rem;
}

.blaze-next {
    right: -2rem;
}

.blaze-prev:hover,
.blaze-next:hover {
    transform: scale(1.2);
    color: #FFF;
}

.blaze-container {
    overflow:hidden;
    width: 96%;
    margin: 0 auto;
    min-height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blaze-track {
    will-change: transform;
    touch-action: pan-y;
    display: flex;
    gap: var(--slide-gap);
    --slide-width: calc((100% - (var(--slides-to-show) - 1) * var(--slide-gap)) / var(--slides-to-show));
    width: 98%;
    margin: 0 auto;
}

.blaze-card {
    width: var(--slide-width);
    flex-shrink: 0;

    min-height: 28rem;
    border: 2px solid #50627C;
    border-radius: 8px;
    transition: width 300ms ease;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    background: #1E252F;
    color: #FFF;
}

.blaze-card:hover {
    transform: scale(1.05);
    border: 3px solid #FFF;
    transition: transform 0.3s;
}

.card-link {
    width: 100%;
    height: 100%;
}

.card-title {
    position: absolute;
    bottom: -6rem;
    font-size: 1.5rem;
}